@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="jumbotron text-center">
  <h1> Add a Machine</h1>
</div>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          @Html.ActionLink("Home", "Index", "Home", null, new { @class="nav-link" })
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Machines
          </a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("All Machines", "Index", "Machines", null, new { @class="dropdown-item" })</li>
            <li>@Html.ActionLink("Add New Machine", "Create", "Machines", null, new { @class="dropdown-item" })</li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Engineers
          </a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("All Engineers", "Index", "Engineers", null, new { @class="dropdown-item" })</li>
            <li>@Html.ActionLink("Add New Engineer", "Create", "Engineers", null, new { @class="dropdown-item" })</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr />
@using (Html.BeginForm())
{
  <div class="form-group row mb-3">
    @Html.Label("Machine Name", null, new { @class="col-form-label col-sm-2" })
    <div class="col-sm-10">  
      @Html.TextBoxFor(model => model.MachineName, new { @class="form-control", @required="required"})
    </div>
  </div>
  <div class="form-group row mb-3">
    @Html.Label("Machine Location", null, new { @class="col-form-label col-sm-2" })
    <div class="col-sm-10">  
      @Html.TextBoxFor(model => model.MachineLocation, new { @class="form-control" })
    </div>
  </div>
  <div class="form-group row mb-3">
    @Html.Label("Machine Status", null, new { @class="col-form-label col-sm-2" })
    <div class="col-sm-10">  
      @Html.TextBoxFor(model => model.MachineStatus, new { @class="form-control" })
    </div>
  </div>
  <div class="form-group row mb-3">
    @Html.Label("Select an Engineer", null, new { @class="col-form-label col-sm-2" })
    <div class="col-sm-10">  
      @Html.DropDownList("EngineerId", null, new { @class="form-control" })
    </div>
  </div>
  <div class="form-group row">        
    <div class="col-sm-10 offset-sm-2">
      <input type="submit" value="Add Machine" />
    </div>
  </div>
}
